*{
  margin: 0;
  padding: 0;
}

.sideNav {
  float: left;
  background-color: #181818;
  color: red;
  height: 100vh;
  width: 10%;
}

.side-top {
  min-height: 20vh;
  width: 10vh;
}

.mainBox {
  float: left;
  background-color: #222;
  height: 100vh;
  width: 90%;
}

.textBox {
  float:left;
  width: 60%;
  height: 100vh;
}


.nameBox {
  position: absolute;
  margin-left:2%;
  margin-top: 20vh;
  color: white;
}

.bioBox {
  position: absolute;
  margin-left: 2%;
  margin-top: 40vh;
  color: white;
}

.photoBox {
  float:left;
  width: 40%;
  height: 100vh;
}

.photo {
  position: absolute;
  margin-left:2%;
  margin-top: 20vh;
  color: white;
  background-color: grey;
  border: 1px solid darkgrey;
  padding: 10px;
}

.image {
  height: 40vh;
  border: 1px solid darkblue;
}

#home {
  margin-bottom: 5vh;
}

#projects {
  margin-bottom: 5vh;
}

#about {
  margin-bottom: 5vh;
}

#contact {
  margin-bottom: 5vh;
}
